.orderform-body {
    width: 100%;
    background-color: #D93611;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 800px;
    color:#E0D6B4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2 {
    text-align: center; /* Centers the heading */
    font-size: 2rem; /* Adjust the font size as needed */
    color: #E0D6B4; /* Dark text color */
    margin-bottom: 20px; /* Space below the heading */
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

/* Button Container */
.button-container {
    margin-top: 20px;
    display: flex;
    gap: 15px; /* Adds space between buttons */
    justify-content: center;
    align-items: center;
  }
  
  /* General Button Styles */
  button {
    padding: 12px 20px;
    /* font-size: 1rem;
    border-radius: 5px; */
    border: 2px solid #ddd;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px; /* Keeps buttons a consistent size */
    text-align: center;
    box-sizing: border-box;
  }
  
  /* Button Hover Effects */
  button:hover {
    background-color: #4CAF50;
    color: #fff;
   
  }
  
  /* Specific Styles for Add Order Button */
  .btn-add {
    background-color: #f2be22; /* Light orange */
    border-color: #f2be22;
  }
  
  .btn-add:hover {
    background-color: #8d5609; /* Darker orange */
  }
  
  /* Specific Styles for Next Customer Button */
  .btn-next {
    background-color: #f2be22; /* Light orange */
    border-color: #f2be22;
  }
  
  .btn-next:hover {
    background-color: #88260e; /* Darker blue */
  }
  