.order-summary {
    background-color: #eae7e7;
    padding: 20px;
   
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  .order-summary h3 {
    text-align: center;
    font-size: 1.8rem;
    color: #68390a;
    margin-bottom: 20px;
  }
  
  .order-summary p {
    font-size: 1.1rem;
    color:#68390a;
    margin: 5px 0;
  }
  
  .order-summary ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-summary li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .order-summary li p {
    margin: 5px 0;
  }
  
  .order-summary strong {
    color: #4CAF50; /* Green color for emphasis */
  }
  