.quantity-input {
    margin: 20px;
    padding: 20px;
    background-color: #eae7e7;
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%; /* Ensure it takes full width within the parent */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; /* Ensures padding and border are included in the total width */
    
  }
  
  .quantity-input label {
    font-size: 1.2rem;
    font-weight: bold;
    color:#68390a;
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .quantity-input input[type="number"] {
    padding: 10px 15px;
    font-size: 1rem;
    width: 100%; /* Make sure the input fills the container */
    /* border-radius: 5px; */
    border: 2px solid #ddd;
    background-color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    box-sizing: border-box; /* Ensure padding and border are part of the total width */
  }
  
  .quantity-input input[type="number"]:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }
  
  .quantity-input input[type="number"]::-webkit-outer-spin-button,
  .quantity-input input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  