.ordersummary-body {
    width: 100%;
    background-color: #d93611;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    /* border-radius: 10px; */
    color: #68390a;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.summary-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.ordersummary-body label {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #e5e4e2;
}

.ordersummary-body input {
    width: 150px;
    padding: 8px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: right;
    background-color: #fff;
    color: #333;
}

.submit-btn {
    padding: 12px 20px;
    font-size: 1rem;
    /* border-radius: 5px; */
    border: 2px solid #f2be22;
    background-color: #f2be22;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    box-sizing: border-box;
}

.submit-btn:hover {
    background-color: #88260e;
}
